.clsNode, .clsNode:visited{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	font-weight : bold;;
	font-size : 12px;
	text-decoration : none;
}
.clsNodeL1, .clsNodeL1:visited{
	color: black;
	font-size : 12px;
	text-decoration : none;
}
.clsNodeL1:hover{
	color: blue;
	font-size : 12px;
	text-decoration : underline;
}

.clsNodeL2, .clsNodeL2:visited{
	color: black;
	font-size : 12px;
	text-decoration : none;
}
.clsNodeL2:hover{
	color: blue;
	font-size : 12px;
	text-decoration : underline;
}

.clsNodeL3, .clsNodeL3:visited{
	color: black;
	font-size : 10px;
	text-decoration : none;
}
.clsNodeL3:hover{
	color: blue;
	font-size : 10px;
	text-decoration : underline;
}

body {
	background-color: #FFFFFF;
	text-align: center;
}

.footer{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF9900;
	background-color: #CFD7DA;
	text-align: center;
	font-weight: bold;
	}
	
.header1{
	height: 12px;
	font-size: 9px;
}

.header2{
	height: 12px;
	font-size: 9px;
}

.header3{
	height: 12px;
	font-size: 9px;
}

.menutab{
	background-color: #FFFFFF;
	border-right-color: #5890C3;
	border-right-style: solid;
	border-right-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #046598;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.selectedmenutab{
	background-color: #FF9C00;
	border-right-color: #18506F;
	border-right-style: solid;
	border-right-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.selectedmenutab1{
	background-color: #FF9900;
	border-right-color: #5890C3;
	border-right-style: solid;
	border-right-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.selectedmenutab2{
	border-right-color: #5890C3;
	border-right-style: solid;
	border-right-width: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.bannerleft{
	border-right-color: #046598;
	border-right-style: solid;
	border-right-width: 3px;
}

.bannerleft1{
	border-right-color: #DDDBC7;
	border-right-style: solid;
	border-right-width: 3px;
}

#header{
	height: 49px;
	width: 1000px;
	margin-top: 0px;
	position: relative;
	visibility: visible;
	z-index: 1;	
}

#banner{
	height: 178px;
	width: 800px;
	position: relative;
	visibility: visible;
	z-index: 1;
	background-color: #FFFFFF;

}

.banner1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	text-align: center;
}

.banner2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #5890C3;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;	
}

.banner3{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	text-align: left;
	padding-left: 10px;
}

.banner3:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	text-align: left;
	padding-left: 10px;
}

.banner3:visited{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	text-align: left;
	padding-left: 10px;
}


.banner3:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	text-align: left;
	padding-left: 10px;
}

.banner3:active{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;
	text-align: left;
	padding-left: 10px;
}

.banner4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #5890C3;
	text-align: left;
	padding-left: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}


.search{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	background-color: #DBE8F0;
	vertical-align: middle;
	text-align: right;
	
}

.footerderived{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	background-color: #5890C3;
	vertical-align: middle;
	text-align: right;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	
}

.footerderived2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #5890C3;
	vertical-align: middle;
	text-align: right;
	border-top-width: 2px;

	border-top-style: solid;

	border-top-color: #FFFFFF;
	
	
}

.go{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	background-color: #FFFFFF;
	vertical-align: middle;
	text-align: center;
	
}

.searchbox{
	height: 17px;
	width: 120px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	
}

#strips{
	height: 178px;
	width: 75px;
	position: absolute;
	visibility: visible;
	z-index: 1;
	background-image: url(left-strip.jpg);
	background-repeat: repeat-y;
}

.news{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #046598;
	background-image: url(news_background.jpg);
	text-align: center;
	padding-top: 10px;
	
}

.news1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #046598;	
}

.newsletter{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF9900;
	text-align: left;
	padding-left: 15px;
	padding-top: 5px;
}

.email{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF9900;
	text-align: left;
	padding-left: 15px;
}

.emailbox{
	height: 13px;
	width: 100px;
	
}

#maintable{
}

.title{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	padding-top: 5px;
	padding-left: 15px;

}

.title1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006699;
	padding-top: 10px;
	padding-left: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #006699;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #006699;
}

.content{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-top: 3px;
	padding-left: 15px;

}

.content1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	padding-top: 3px;
	padding-left: 5px;

}

.map{
	border: 3px solid #006699;
}

.gri{
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #EDEBEC;
}

.repositorieslist{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	padding-top: 5px;
	padding-left: 15px;
	text-decoration: underline;
}

.clientbutton{
	background-color: #053887;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border: 3px outset #053887;
	
}

.pagetitleeffect{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	background-color: #FF9900;
	border-top-color: #FF9900;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-color: #FF9900;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-left-color: #FF9900;
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: #FF9900;
	border-right-style: none;
	border-right-width: 0px;
	height: 20px;
}
/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landrö               |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	white-space: nowrap;
	padding-top: 0px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
}
.outset_border {
	border-style: solid;
	border-width: thin;
}
/*
	back:	rgb(230,230,230)
	dark:	rgb(90,97,90)
	medium	rgb(189,190,189)
	*/

.dynamic-slider-control {
	position:			relative;
	background-color:	rgb(230,230,230);
	-moz-user-focus:	normal;
	-moz-user-select:	none;
	cursor:				default;
}

.horizontal {
	width:				200px;
	height:				27px;
}

.vertical {
	width:				29px;
	height:				200px;
}

.dynamic-slider-control input {
	display:	none;
}

.dynamic-slider-control .handle {
	position:			absolute;	
	font-size:			1px;
	overflow:			hidden;
	-moz-user-select:	none;
	cursor:				default;
}

.dynamic-slider-control.horizontal .handle {
	width:				31px;
	height:				14px;
	background-image:	url("handle.horizontal.png");
}

.dynamic-slider-control.horizontal .handle div {}
.dynamic-slider-control.horizontal .handle.hover {}

.dynamic-slider-control.vertical .handle {
	width:				15px;
	height:				31px;
	background-image:	url("handle.vertical.png");
}

.dynamic-slider-control.vertical .handle.hover {}

.dynamic-slider-control .line {
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				1px solid rgb(90,97,90);
	background:			rgb(189,190,189);
	
	behavior:			url("css/boxsizing.htc"); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}
.dynamic-slider-control.vertical .line {
	width:				3px;
}

.dynamic-slider-control.horizontal .line {
	height:				3px;
}

.dynamic-slider-control .line div {
	width:		1px;
	height:		1px;
	
	border:				1px solid;
	border-color:		rgb(230,230,230) rgb(189,190,189)
						rgb(189,190,189) rgb(230,230,230);
}
.alternate {
    font-family: Verdana, Helvetica, Arial;
    font-size:11px;
}

a.stats {
    font-family:Verdana,Helvetica,Arial;
    font-size:12px;
    text-decoration: none;
    color:#000000;
}
		
a.stats:hover {
    color:#0000FF;
    text-decoration: underline;
}

body {
	background-color: #FEFEFE;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
}

.checkboxmenu{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333;
}

.checkboxmenu a{
	color: #000066;
	text-decoration:none;
}


.whitetextsmall{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
}

.whitetextlarge{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;	
}

.textupdate{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
}

.textmenublue{
	font-family: Arial, Verdana,Helvetica, sans-serif;
	font-size: 11px;
	color: #053887;
	font-weight: bold;
}


.linkmenublue{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
	font-weight: bold;
	text-decoration: underline;
}

.linkmenublue:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
	font-weight: bold;
	text-decoration: underline;
}

.linkmenublue:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
	font-weight: bold;
	text-decoration: underline;
}

.linkmenublue:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
	font-weight: bold;
	text-decoration: underline;
}

.linkmenublue:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #053887;
	font-weight: bold;
	text-decoration: underline;
}

.text{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    color: #5D6261;
}

.title_content{
    font-family: Verdana, Arial, Tahome;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #5D6261;
}

.text_content{
    font-family: Arial, Verdana, Tahome;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    color: #000000;
}

a.link:link,
a.link:active,
a.link:visited{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #475D71;
    text-decoration: none
}

a.link:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #475D71;
    text-decoration: underline
}  

a.linkb:link,
a.linkb:active,
a.linkb:visited{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #475D71;
    text-decoration: underline;
}

a.linkb:hover{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #475D71;
    text-decoration: none
} 

a.menu_link:link,
a.menu_link:active,
a.menu_link:visited{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #818887;
    text-decoration: none
}

a.menu_link:hover{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #818887;
    text-decoration: underline
} 

input.input_text{
        font-family: Verdana, Arial, Tahome;
        font-size: 11px;
        font-weight: normal;
        text-decoration: none;
        text-align: left;
        border: solid 1px #CCCC99;
        background: #FFFFFF;
}

.input_textarea{
        font-family: Verdana, Arial, Tahome;
        font-size: 11px;
        font-weight: normal;
        text-decoration: none;
        text-align: left;
        border: solid 1px #CCCC99;
        background: #FFFFFF;
}

input.input_submit{
        font-family: Verdana, Arial, Tahome;
        font-size: 11px;
        color: #4F4F3B;
        font-weight: normal;
        text-decoration: none;
        border: solid 1px #CCCC99;
        background: #F6F6F6;
}

a.input_submit:link,
a.input_submit:active
a.input_submit:visited
a.input_submit:hover{
        font-family: Verdana, Arial, Tahome;
        font-size: 11px;
        color: #4F4F3B;
        font-weight: normal;
        text-decoration: none;
        border: solid 1px #CCCC99;
        background: #F6F6F6;
        padding-top: 0px;
        padding-bottom: 0px;        
        padding-left: 7px;        
        padding-right: 7px;        
}

input.input_checkbox{
        background: #F6F6F6;
        width: 13px;
        height: 13px;
}

select.input_select{
        font-family: Verdana, Arial, Tahome;
        font-size: 11px;
        color: #4F4F3B;
        font-weight: normal;
        text-decoration: none;
        border: solid 1px #CCCC99;
        background: #F6F6F6;
}

td.box_header{
    color: #FFFFFF;
    font-size: 11px; font-family: 
    Arial, Verdana; 
    font-weight: bold;
    background-color:#9fbcd1;
    height: 22px;
    vertical-align: middle;
}

td.hist_menu{
    padding: 3px; 
    border-bottom: 3px solid #FFFFFF;
    border-right: solid 2px #FFFFFF;
    background-color: #E7EBF1;
    text-align: center;
}

td.bottom{
    border-bottom: solid 2px #FFFFFF;
}

.spacer {
    width: 6px;
    height: 6px;
}

.table_content{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    border: solid 1px #C0D5FF;
}

td.table_title{
    background-color: #FFFFFF;
    color: #000000; 
    font-size: 12px; 
    padding: 10px; 
    text-align: center;
}

tr.table_header{
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}

tr.table_header_bold{
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    font-weight: bold;
}
                                        
td.table_header{
    background-color: #C7DAFF;
    border-bottom: 1px solid #CCCC99;
    border-top: 1px solid #CCCC99;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

td.table_header_right{
    background-color: #C7DAFF;
    border-bottom: 1px solid #CCCC99;
    border-top: 1px solid #CCCC99;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

tr.table_row:hover{
    background-color: #DDE8FF;
}

td.table_row{
    border-bottom: 1px solid #D9D9D9;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

tr.table_row_right:hover{
    background-color: #DDE8FF;
}

td.table_row_right{
    border-bottom: 1px solid #D9D9D9;
    border-right: 1px solid #CCCCCC;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px;
}

tr.table_header_stats{
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}
                                        
td.table_header_stats{
    background-color: #C7DAFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

th.table_header_stats{
    background-color: #C7DAFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
}

td.table_row_stats{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px;
}

.table_content_stats{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px; 
    border: solid 1px #C0D5FF;
}

.error{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12px; 
    color: #FF0000;
    
}

.grey{
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 10px; 
    color: #9DA2A5;
    font-style: italic;
    text-decoration: none;
    font-weight: normal;    
}

td.correlations{
    background-color : #FFFFFF;
    font-family: Verdana, Arial, sans serif;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
}

li{
    padding: 3px;
    text-align : left;
    font-family: Verdana, Arial;
    font-size: 11px;
}

td.pwg_menu{
    background-color: #FFFFFF;
}

td.pwg_menu_active{
    background-color: #F0F5FF;
    border: solid 1px #BED0F4;
}

td.pwg_row{
    color: #475D71;
    font-weight: bold;
}

a.pwg_menu_link:link,
a.pwg_menu_link:active,
a.pwg_menu_link:visited{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #707675;
    text-decoration: none
}

a.pwg_menu_link:hover{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #707675;
    text-decoration: underline
} 

.text{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    color: #5D6261;
}

a.link:link,
a.link:active,
a.link:visited{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #475D71;
	text-decoration: none
}

a.link:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #475D71;
	text-decoration: underline
}  

a.linkb:link,
a.linkb:active,
a.linkb:visited{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #475D71;
	text-decoration: none
}

a.linkb:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #475D71;
	text-decoration: underline
}  

a.menu_link:link,
a.menu_link:active,
a.menu_link:visited{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #818887;
	text-decoration: none
}

a.menu_link:hover{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #818887;
	text-decoration: underline
} 

input.input_text{
	    font-family: Arial, Verdana, Helvetica, sans-serif;
	    font-size: 11px;
	    font-weight: normal;
	    text-decoration: none;
	    text-align: left;
	    border: solid 1px #CCCC99;
	    background-color: #F6F6F6;
}

input.input_submit{
	    font-family: Arial, Verdana, Helvetica, sans-serif;
	    font-size: 11px;
	    color: #4F4F3B;
	    font-weight: normal;
	    text-decoration: none;
	    border: solid 1px #CCCC99;
	    background-color: #F6F6F6;
}

input.input_checkbox{
	    border: solid 1px #CCCC99;
	    background-color: #F6F6F6;
	    width: 13px;
	    height: 13px;
	    color: #9BA1A0;
}

select.input_select{
	    font-family: Arial, Verdana, Helvetica, sans-serif;
	    font-size: 11px;
	    color: #4F4F3B;
	    font-weight: normal;
	    text-decoration: none;
	    border: solid 1px #CCCC99;
	    background-color: #F6F6F6;
}

td.menu{
	padding: 3px; 
	border-bottom: 3px solid #FFFFFF;
	border-right: solid 2px #FFFFFF;
	background-color: #F0F0F0;
	text-align: center;
}

td.bottom{
    border-bottom: solid 2px #FFFFFF;
}

.overlay_dialog {
	background-color: #666666;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.overlay___invisible__ {
  background-color: #666666;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.dialog_nw {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_left.gif) no-repeat 0 0;		
}

.dialog_n {
	background: transparent url(default/top_mid.gif) repeat-x 0 0;	
	height: 23px;
}

.dialog_ne {
	width: 9px;
	height: 23px;
	background: transparent url(default/top_right.gif) no-repeat 0 0;		
}

.dialog_e {
	width: 2px;
	background: transparent url(default/center_right.gif) repeat-y 0 0;	
}

.dialog_w {
	width: 2px;
	background: transparent url(default/center_left.gif) repeat-y 0 0;		
}

.dialog_sw {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_left.gif) no-repeat 0 0;			
}

.dialog_s {
	background: transparent url(default/bottom_mid.gif) repeat-x 0 0;		
	height: 19px;
}

.dialog_se {
	width: 9px;
	height: 19px;
	background: transparent url(default/bottom_right.gif) no-repeat 0 0;			
}

.dialog_sizer {
	width: 9px;
	height: 19px;
	background: transparent url(default/sizer.gif) no-repeat 0 0;	
	cursor:se-resize;	
}

.dialog_close {
	width: 14px;
	height: 14px;
	background: transparent url(default/close.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:8px;
	cursor:pointer;
	z-index:2000;
}

.dialog_minimize {
	width: 14px;
	height: 15px;
	background: transparent url(default/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:28px;
	cursor:pointer;
	z-index:2000;
}

.dialog_maximize {
	width: 14px;
	height: 15px;
	background: transparent url(default/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:5px;
	left:49px;
	cursor:pointer;
	z-index:2000;
}

.dialog_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	width:100%;
	color:#000;
}

.dialog_content {
	overflow:auto;
	color: #DDD;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background-color:#123;
}

.top_draggable, .bottom_draggable {
  cursor:move;
}

.status_bar {
  font-size:12px;
}
.status_bar input{
  font-size:12px;
}

.wired_frame {
	display: block;
  position: absolute;
  border: 1px #000 dashed;
}

/* DO NOT CHANGE THESE VALUES*/
.dialog {
	display: block;
	position: absolute;
}

.dialog table.table_window  { 
  border-collapse: collapse; 
  border-spacing: 0; 
  width: 100%;
	margin: 0px;
	padding:0px;
}

.dialog table.table_window td , .dialog table.table_window th { 
  padding: 0; 
}

.dialog .title_window {
  -moz-user-select:none;
}                                                    


/* Focused windows */
.overlay_mac_os_x {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.mac_os_x_nw {
	background: transparent url(/js/window/mac_os_x/TL_Main.png) no-repeat 0 0;			
  width:24px;
  height:30px;
}

.mac_os_x_n {
  background: transparent url(/js/window/mac_os_x/T_Main.png) repeat-x 0 0;			
  height:30px;
}

.mac_os_x_ne {
  background: transparent url(/js/window/mac_os_x/TR_Main.png) no-repeat 0 0;			
  width:31px;	  
  height:30px;
}

.mac_os_x_w {
  background: transparent url(/js/window/mac_os_x/L_Main.png) repeat-y top left;			
  width:16px;
}

.mac_os_x_e {
  background: transparent url(/js/window/mac_os_x/R_Main.png) repeat-y top right;			
  width:16px;	  
}

.mac_os_x_sw {
  background: transparent url(/js/window/mac_os_x/BL_Main.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_s {
  background: transparent url(/js/window/mac_os_x/B_Main.png) repeat-x 0 0;			
  height:40px;
}

.mac_os_x_se, .mac_os_x_sizer {
  background: transparent url(/js/window/mac_os_x/BR_Main.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.mac_os_x_sizer {
	cursor:se-resize;	
}

.mac_os_x_close {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/close.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:25px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:45px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:65px;
	cursor:pointer;
	z-index:1000;
}

.mac_os_x_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	margin-top:8px;
	width:100%;
	color:#000;
}

.mac_os_x_content {
	overflow:auto;
	color: #222;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background:#FFF;
}
.mac_os_x_s .status_bar {
  padding-bottom:24px;
}


/* Focused windows */
.overlay_blur_os_x {
	background-color: #85BBEF;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

.blur_os_x_nw {
	background: transparent url(/js/window/mac_os_x/TL.png) no-repeat 0 0;			
  width:24px;
  height:30px;
}

.blur_os_x_n {
  background: transparent url(/js/window/mac_os_x/T.png) repeat-x 0 0;			
  height:30px;
}

.blur_os_x_ne {
  background: transparent url(/js/window/mac_os_x/TR.png) no-repeat 0 0;			
  width:31px;	  
  height:30px;
}

.blur_os_x_w {
  background: transparent url(/js/window/mac_os_x/L.png) repeat-y top left;			
  width:16px;
}

.blur_os_x_e {
  background: transparent url(/js/window/mac_os_x/R.png) repeat-y top right;			
  width:16px;	  
}

.blur_os_x_sw {
  background: transparent url(/js/window/mac_os_x/BL.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.blur_os_x_s {
  background: transparent url(/js/window/mac_os_x/B.png) repeat-x 0 0;			
  height:40px;
}

.blur_os_x_se, .blur_os_x_sizer {
  background: transparent url(/js/window/mac_os_x/BR.png) no-repeat 0 0;			
  width:31px;
  height:40px;
}

.blur_os_x_sizer {
	cursor:se-resize;	
}

.blur_os_x_close {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/close.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:25px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_minimize {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/minimize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:45px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_maximize {
	width: 19px;
	height: 19px;
	background: transparent url(/js/window/mac_os_x/maximize.gif) no-repeat 0 0;			
	position:absolute;
	top:12px;
	left:65px;
	cursor:pointer;
	z-index:1000;
}

.blur_os_x_title {
	float:left;
	height:14px;
	font-family: Tahoma, Arial, sans-serif;
	font-size:12px;
	text-align:center;
	margin-top:8px;
	width:100%;
	color:#000;
}

.blur_os_x_content {
	overflow:auto;
	color: #222;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
	background:#FFF;
}
.blur_os_x_s .status_bar {
  padding-bottom:24px;
}

.DHTMLSuite_calendar{	/* Main div for the calendar */
	border:1px solid #BED6E0;
	background-color:#FFF;
	width:220px;
	position:relative;	
	overflow:hidden;
	font-size: 12px;
	
}
.DHTMLSuite_calendarContent{	/* Sub div inside DHTMLSuite_calendar - this is the div where content is added */
	position:relative;	/* IMPORTANT - This must always be like this in order to make it possible to position sub elements correctly, especially the iframe */
	z-index:10;	/* IMPORTANT - This must always be like this in order to make it possible to position sub elements correctly, especially the iframe */
	background-color:#FFF;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}


/*******************

 START CSS FOR THE HEADER ROW - WHERE YOU SEE MONTH AND YEAR
 
********************/
.DHTMLSuite_calendar .DHTMLSuite_calendarHeading{	/* Heading of calendar, where you see the month and year */
	background-image:url(../images/calendar/calendar_heading.png);
	background-repeat:repeat-x;
	height:21px;
	border-bottom:1px solid #BED6E0;
}
.DHTMLSuite_calendarHeadingTxt{	/* Inner div in the heading  */
	padding:1px;
	text-align:center;
	font-size:13px;
}

.DHTMLSuite_calendarCloseButton{	/* Close button at the top right corner of the calendar */
	background-image:url(../images/calendar/calendar-close.gif);
	background-repeat:no-repeat;
	width:13px;
	height:13px;
	position:absolute;
	right:3px;
	top:3px;
	padding:1px;
	background-position:center center;
	cursor:pointer;
}

.DHTMLSuite_calendarHeaderMonthAndYear{	/* Div elements for year and month in the heading */
	padding:1px;
	padding-right:2px;
	padding-left:2px;
	cursor:pointer;
	line-height:17px;

}
.DHTMLSuite_calendarHeaderMonthAndYearOver{	/* Mouse over effect - month and year in the heading */
	background-color:#FFF;
	border:1px solid #BED6E0;
	padding:0px;
	padding-left:1px;
	padding-right:1px;	
}


/*******************

 START CSS FOR THE TIME BAR - THE DIV WHERE YOU SEE "Time: " and the hour and minute
 
********************/

.DHTMLSuite_calendar_timeBar{	/* Time bar - where users can select hour and minutes */
	background-color:#ebf2f8;
	height:21px;
	border-top:1px solid #BED6E0;
	text-align:center;
	position:relative;
}
.DHTMLSuite_calendar_timeBarHourAndMinute{	/* General rules for the displayed hours and minutes - the ones you can click on the bring out the drop down boxes */
	padding:1px;
	padding-left:2px;
	padding-right:2px;
	margin-right:2px;
	cursor:pointer;
}
.DHTMLSuite_calendarTimeBarHourAndMinuteOver{	/* Mouse over effect for the hour and minute displayed in the time bar */
	background-color:#FFF;
	border:1px solid #BED6E0;
	padding:0px;
	padding-left:1px;
	padding-right:1px;
}
.DHTMLSuite_calendarTimeBarTimeString{	/* String "Time:" */
	position:absolute;
	left:2px;
	top:2px;
}

/*******************

 START CSS FOR THE NAVIGATION BAR - THE DIV WITH THE LEFT AND RIGHT ARROWS
 
********************/

.DHTMLSuite_calendar_navigationBar{	/* Navigation bar below the heading */
	background-color:#ebf2f8;
	height:17px;
	border-bottom:1px solid #BED6E0;
	position:relative;
}
.DHTMLSuite_calendar_navigationBarToday{	/* Div for the string "Today" in the navigation bar */
	text-align:center;
}
.DHTMLSuite_calendar_navigationBarToday span{	/* The "Today" string inside the navigation bar */
	cursor:pointer;	
}
.DHTMLSuite_calendar_btnNextYear,.DHTMLSuite_calendar_btnPreviousYear,.DHTMLSuite_calendar_btnNextMonth,.DHTMLSuite_calendar_btnPreviousMonth{	/* Buttons - previous/next month and year */
	position:absolute;
	background-repeat:no-repeat;
	background-position:center center;
	width:13px;
	height:13px;
	padding:1px;
	top:1px;
}

.DHTMLSuite_calendar_btnNextYear{	/* Next year button */
	background-image:url(../images/calendar/calendar-next-year.gif);
	right:2px;	
}
.DHTMLSuite_calendar_btnPreviousYear{	/* Previous year button */
	background-image:url(../images/calendar/calendar-previous-year.gif);
	left:2px;
}
.DHTMLSuite_calendar_btnNextMonth{	/* Next month button */
	background-image:url(../images/calendar/calendar-next-month.gif);
	right:18px;	
}
.DHTMLSuite_calendar_btnPreviousMonth{	/* Previous month button */
	background-image:url(../images/calendar/calendar-previous-month.gif);
	left:18px;
}

/*******************

 START CSS FOR THE MAIN DIV CONTAINING ALL THE DAYS WITHIN A MONTH AND HEADINGS (weeks, days(Mon-Sun) etc.)
 
********************/


.DHTMLSuite_calendar_monthView{	/* Main div element for the days in a month */


}

.DHTMLSuite_calendar_monthView_headerCell{	/* Main div element for the days in a month */
	background-color:#FFF;
	border-bottom:1px solid #BED6E0; 
}

.DHTMLSuite_calendar_monthView_firstColumn{	/* First column - the week column */
	background-color:#ebf2f8;
	border-right:1px solid #BED6E0; 
	text-align:left;
}

.DHTMLSuite_calendar_monthView td{	/* Default css for all the cells inside the calendar, i.e. week heading, label for the days, and the days */
	text-align:center;
	cursor:default;
}
.DHTMLSuite_calendar_monthView_headerSunday{	/* Sunday in the header */
	color:red;
	border-bottom:1px solid #BED6E0; 
}
.DHTMLSuite_calendar_monthView_daysInOtherMonths{	/* Days in previous or next month, i.e. before start of current displayed month or after days in the currently displayed month */
	color:#999;
}
.DHTMLSuite_calendar_monthView_daysInThisMonth{	/* Layout - ordinary days(mon-sat) in this month */
	
}
.DHTMLSuite_calendar_monthView_sundayInThisMonth{	/* Layout - sundays in current displayed month */
	color:red;
}
.DHTMLSuite_calendar_monthView_initialDate{	/* Inital set date, example: the date in an input field which you are populating with the calendar */
	background-color:#BED6E0;
	color:white;
}
.DHTMLSuite_calendar_monthView_invalidDate{	/* Inital set date, example: the date in an input field which you are populating with the calendar */
	color:#AAA;
}
.DHTMLSuite_calendar_monthView_currentDate{	/* Date of today */
	background-color:#BED6E0;
}
/***************************************************
*
* START CSS -  DROP DOWN BOXES 
*
*
***************************************************/

/*** MINUTES ***/
.DHTMLSuite_calendar_minuteDropDown{	/* Drop down box for minutes */
	background-color:#ebf2f8;
	border:1px solid #BED6E0;
	width:23px;
	padding:1px;
	font-size:12px;	
	text-align:center;
	/* You shouldn't change these 3 options */	
	position:absolute;	
	z-index:152000;
	cursor:pointer;
	
}
.DHTMLSuite_calendar_minuteDropDownCurrentMinute{	/* Minute in drop down when it's equal to current minute of the display, i.e. the minute you see where you click on the drop down */
	color:red;
}
.DHTMLSuite_calendar_dropdownAMinuteOver{
	background-color:#BED6E0;
}

/*** HOURS ***/
.DHTMLSuite_calendar_hourDropDown{	/* Drop down box for hours */
	background-color:#ebf2f8;
	border:1px solid #BED6E0;
	width:23px;
	position:absolute;	
	z-index:152000;
	padding:1px;
	cursor:pointer;
	font-size:12px;	
	text-align:center;
}
.DHTMLSuite_calendar_dropdownAnHourOver{
	background-color:#BED6E0;
}
.DHTMLSuite_calendar_hourDropDownCurrentHour{
	color:red;
}

/*** MONTHS ***/
.DHTMLSuite_calendar_monthDropDown{
	background-color:#ebf2f8;
	border:1px solid #BED6E0;
	width:70px;
	position:absolute;	
	z-index:152000;
	cursor:pointer;
	padding:1px;
	font-size:12px;	
}
.DHTMLSuite_calendar_dropDownAMonth{

}
.DHTMLSuite_calendar_dropdownAMonthOver{
	background-color:#BED6E0;
}
.DHTMLSuite_calendar_yearDropDownCurrentMonth{
	color:red;
	
}

/***** YEAR ****/
.DHTMLSuite_calendar_yearDropDown{
	background-color:#ebf2f8;
	border:1px solid #BED6E0;
	width:30px;
	position:absolute;	
	z-index:152000;
	cursor:pointer;
	padding:1px;
	font-size:12px;	
	text-align:center;
}
.DHTMLSuite_calendar_dropDownAYear{

}
.DHTMLSuite_calendar_dropdownAYearOver{
	background-color:#BED6E0;
}
.DHTMLSuite_calendar_yearDropDownCurrentYear{	/* Current year */
	color:red;
}



/* UP AND DOWN ARROWS INSIDE DROP DOWNS **/
.DHTMLSuite_calendar_dropDown_arrowUp{	/* Drop down - moving to previous year */
	background-image:url(../images/calendar/calendar-dropdown-up.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:8px;
}

.DHTMLSuite_calendar_dropDown_arrowDown{	/* Drop down - moving to previous year */
	background-image:url(../images/calendar/calendar-dropdown-down.gif);
	background-repeat:no-repeat;
	background-position:center center;
	height:8px;
}
.DHTMLSuite_calendarDropDown_dropDownArrowOver{
	background-color:#BED6E0;
}




/* IT'S IMPORTANT TO HAVE THIS CSS RULE AT THE BOTTOM IN ORDER TO MAKE THE PADDING OVERRIDE PADDING OF OTHER ELEMENTS */
.DHTMLSuite_calendarButtonOver{	/* Mouse over effect for the close button */
	background-color:#FFF;	/* White background color */
	border:1px solid #BED6E0;	/* Blue border */
	padding:0px;	/* The sum border+padding of this element should be the same as border+padding of .DHTMLSuite_calendarCloseButton */
}
.DHTMLSuite_calendarDayOver{	/* Mouse over effect - days in the calendar, i.e. days in current displayed month */
	background-color:#ebf2f8;
}

/* YOU SHOULD NEVER MODIFY THIS ONE */
.DHTMLSuite_calendar_iframe{	/* Iframe used to cover select boxes below in older IE browsers(version 6 and prior) */
	position:absolute;
	top:1px;
	left:1px;
	z-index:1;
}

